div {

  div.sidebar {
    display: inline-block;
    width: 20vw;
    height: 100vh;
    outline: 2px solid grey;

    div.clockWrapper {
      width: 100%;
      border-bottom: 2px solid grey;
      background-color: rgb(31, 31, 31);
    }

    div.sidenavWrapper {
      width: 100%;
    }
  }

  div.routerOutletWrapper {
    display: inline-block;
    align-items: center;
    width: 80vw;

    
  }
}